     <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Hai Yan Shop</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>
 Home</a></li>
        <li><a href="/shopping-cart/">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart <span class="badge"> {{session.cart.totalQty}}</span>
        </a></li>
        {{# if login}}
          <li>
          <a href="/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a>
          </li>
          <li>
          <a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i> Profile </a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/categories/books"><i class="fa fa-book" aria-hidden="true"></i>&nbspBooks</a></li>
                    <li><a href="/categories/elec"><i class="fa fa-plug" aria-hidden="true"></i>&nbspElectronics</a></li>
                    <li><a href="/categories/game"><i class="fa fa-gamepad" aria-hidden="true"></i>&nbspGames</a></li>
                    <li><a href="/categories/gaming"><i class="fa fa-gamepad" aria-hidden="true"></i>&nbspGaming Acessories</a></li>
                    <li><a href="/categories/mobile"><i class="fa fa-mobile" aria-hidden="true"></i>&nbspMobiles</a></li>
                    {{else}}
                     <li><a href="/user/signin"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a></li>
                     <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/categories/books"><i class="fa fa-book" aria-hidden="true"></i>&nbspBooks</a></li>
                    <li><a href="/categories/elec"><i class="fa fa-plug" aria-hidden="true"></i>&nbspElectronics</a></li>
                    <li><a href="/categories/game"><i class="fa fa-gamepad" aria-hidden="true"></i>&nbspGames</a></li>
                    <li><a href="/categories/gaming"><i class="fa fa-gamepad" aria-hidden="true"></i>&nbspGaming Acessories</a></li>
                    <li><a href="/categories/mobile"><i class="fa fa-mobile" aria-hidden="true"></i>&nbspMobiles</a></li>
                    {{/if}}
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          </nav>
          
          <!-- Footer -->
