<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet"> 
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Hai Yan Shop</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/cover.css'/>
  </head>
  <body>
    {{>header}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {{{body}}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
   <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <a href="https://www.facebook.com/Thanh.Duong.2812"><i class="fa fa-facebook-official w3-hover-opacity"></i></i></a>
  <a href="https://www.instagram.com/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
 <a href="https://www.pinterest.com/thanhduong1080/_saved/"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
  <a href="https://twitter.com/account/login_challenge?platform=web&enc_user_id=AAAAEIALb8e4dC-QIWDy1_h1OprUeuXeSXE97POhJpTPeqABaSRjGTqNvfgZtM4QRu-E8GlRv-E&challenge_type=RetypePhoneNumber&challenge_id=c72uzQZyCx9RVidB2w3awSW9yWMNhuhfy96%252F&remember_me=true&redirect_after_login_verification=%2F%3Flang%3Dvi"><i class="fa fa-twitter w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/check/add-phone?country_code=vn"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <p class="w3-medium">Welcome to <a href="https://www.instagram.com/imya_n0209/" target="_blank">Hai Yan Shop</a></p>
  <p class="w3-medium1 "><b>My address: 205 Nguyễn Xí, phường 26, quận Bình Thạnh</b></p>
  <p class="w3-medium1 "><b>My contact: 0933808717</b></p>
  <div class="class">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.9413462515913!2d106.70474381427962!3d10.815800692294827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752896b59bd579%3A0x57646ca75739d6c2!2zMjA1IE5ndXnhu4VuIFjDrSwgUGjGsOG7nW5nIDI2LCBCw6xuaCBUaOG6oW5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1617209321266!5m2!1svi!2s"  width="600" height="200" style="border:0 " allowfullscreen="" loading="lazy"></iframe>
</div>
</footer>
</html>

