/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  padding-bottom: 40px;
  color: black;
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding-bottom: 12px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  /*background-color: #777;*/
  background-color: rgba(0,0,0,0.5);
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.sumerize{
  max-height: 200px;
  border: 0px;
  padding: 20px; 
  width: 300px;
   overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
    text-align:justify;
}
.sumerize::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}

.sumerize1{
  max-height: 200px;
  border: 0px;
  padding: 20px; 
  width: 300px;
   overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
    text-align:justify;
}
.sumerize1::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}

.sumerize2{
  max-height: 200px;
  border: 0px;
  padding: 20px; 
  width: 300px;
   overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
    text-align:justify;
}
.sumerize2::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}

.sumerize3{
  max-height: 200px;
  border: 0px;
  padding: 20px; 
  width: 300px;
   overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
    text-align:justify;
}
.sumerize3::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}

.sumerize4{
  max-height: 200px;
  border: 0px;
  padding: 20px; 
  width: 300px;
   overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
    text-align:justify;
}
.sumerize4::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
    border: dashed;
    color: blanchedalmond;
    margin-top: 10px;
    margin-bottom: 10px;
}
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  padding-top: 15px;
}
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
.navbar{
      border: 0;
}
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
.carousel-caption {
    z-index: 10;
    color: gold;
}
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 1200px){
.container {
    width: 1170px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
    /* margin: 0 0 0 0px; */
    /* position: fixed; */
    width: 100%;
}
}
.navbar-default .navbar-brand {
  color: white;
  border: dashed;
  margin: 10px;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    top: 8px;
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;

  }
}
.navbar{
  border: 0;
}
.container>.navbar-header {
    padding-top: 5px;
   
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 15px;
}
.navbar-default .navbar-nav>li>a {
    color: initial;
}
@media (min-width: 992px){
.container {
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
    width: 100%;
       color: inherit;
}
}
.w3-medium1
{
  text-align: justify;
  font-size: 15px;
  margin-left: 300px;
}
.row{
  margin-bottom: 15px;
}