  {{# if type}}
 <div class="container">
 <form action="/shop/admin" method="post" id="product-form">
 <input value="{{this.pro.id}}" type="hidden" id="name" name="proId" class="form-control">
 <div class="row">
   <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Category</label>
                        <input value="{{this.pro.category}}" type="text" id="name" class="form-control" required name="category">
                    </div>
   </div>
   <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Title</label>
                        <input type="text" id="name" class="form-control" required name="title">
                    </div>
   </div>
   <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Model (This Author if book category)</label>
                        <input type="text" id="name" class="form-control" required name="model">
                    </div>
   </div>
   <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Image-Link</label>
                        <input type="text" id="name" class="form-control" required name="imagePath">
                    </div>
   </div>
   <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Price</label>
                        <input type="text" id="name" class="form-control" required name="price">
                    </div>
   </div>
   <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Description</label>
                        <input type="text" id="name" class="form-control" required name="description">
                    </div>
   </div>
</div>
  <button type="submit" class="btn btn-block">Add Product</button>
</form>
</div>
{{/if}}